body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: coral;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 20px; 
}

.project {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.project img {
    max-width: 105%;
    height: auto;
    border-radius: 8px;
}

.project h2 {
    margin-top: 10px;
    font-size: 1.2em;
}