body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0e204b; /* Dark blue background */
}

header {
    background-color: #0e204b; /* Darker blue for header */
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.main-content {
    display: flex;
    align-items: left;
    margin-left: 0;
    height: 100vh;
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px; 
}

.center-content img {
    max-width: 100%;
    max-height: 300px;
}

.intro {
    text-align: left; 
}

.intro h1,
.intro p {
    margin: 0; 
}

.intro h1 {
    font-size: 2em;
    color: white;
}
.intro h2 {
    font-size: .5cm;
    color: white;
}
.intro p {
    color: white;
    max-width: 300px; 
}

.center-content img {
    max-width: 50%; 
    max-height: 200px; 
    display: block; 
    margin: 0 auto; 
}



@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block; 
        position: absolute; 
        top: 5px; 
        left: 5px; 
        z-index: 99; 
       cursor: pointer;
        }
        
    }

    .nav-links {
        list-style-type: none;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        display: none;
    }
    
    
    @media screen and (min-width: 769px) {
        .menu-toggle {
            display: none; 
        }
        
        .nav-links {
            display: block; 
            position: absolute; 
            top: 10px; 
            left: 10px; 
            background-color: #0e204b;
            padding: 10px; 
        }
    
        .nav-links li {
            display: inline-block; /
            margin-right: 20px; 
            border: aliceblue;
        }
    
        nav ul li {
            display: inline;
            margin-right: 10px; 
        }
        
        .nav-links li:last-child {
            margin-right: 0; 
        }
    
        .nav-links li a {
            text-decoration: none;
            color: white;
        }
    }
  .intro-two {
    background-color:#0e204b
    z-index: 99;
    margin-left: 100px;
    margin-left: 0%;
    margin-top: 0%;
    height: 100vh;
    width: 120vh;
    justify-content:space-between;
  }
.intro-two p {
    font-size: larger;
    color: aliceblue;
}